body {
  padding: 50px 0 0 0;
  background-color: #ddd;
}
.custom-control {
  padding: 0;
}
.custom-switch {
  padding: 0;
}
.navbar {
  background: #20558b !important;
}
.img-thumbnail{
  background-color:transparent
}